<div class="album">
  <div class="flex_row">
    <div class="album_image">
      <img src="{{ album.image }}" alt="{{ album.name }}" />
    </div>
    <div class="album_description">
      <h3>{{album.name}}, {{album.year}}</h3>
    </div>
  </div>
  <div class="album_track_description">
    <div class="row" *ngFor="let track of album.tracks">
      <div class="track_play" (click)="handlePlay()">
        <i [ngClass]="isPlaying ? 'fa-solid fa-circle-pause' :'fa-solid fa-circle-play'"></i>
      </div>
      <div class="track_name">
        <h3>{{ track.name }}</h3>
      </div>
      <div class="track_length">
        <h3>{{ track.length }}</h3>
      </div>
    </div>
  </div>
</div>
