.merch_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 500px;
  color: #fff;
  cursor: pointer;
  .merch_image {
    :hover {
      transition: all 0.3s ease-in;
      background-color: #5a5656;
    }
  }
  a{
    text-decoration: none;
  }
}

.merch_item > .merch_image > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.merch_title {
  :hover {
    text-decoration: underline;
  }
}
