.date {
  width: 200px;
}

.location {
  width: 300px;
}

.tickets {
  width: 150px;
  h3,
  a {
    //padding: 10px;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  a:hover {
    color: rgb(87, 85, 85);
  }
}
.tour_day {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 45px;
  margin-bottom: 45px;
  border-bottom: 2px solid gray;
}

@media only screen and (max-width: 700px) {
  .tour_day {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .date,
  .location,
  .tickets {
    width: 200px;
  }
}
