.merch_detailed{
    display:flex;
    flex-direction: row;
    color: #fff;
    .merch_image{
        width: 500px;
        height: 500px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}